@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  color: black;
  font-family: 'Raleway', sans-serif;
  background-image: url("https://images.pexels.com/photos/1587/blurred-background.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-color: white;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.centerDiv {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
}

.headerDiv {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  margin: 10px;
  margin-bottom: 10%;
}

.header {
  font-size: 40px;
}

.textfield {
  padding: 10px;
  background-color: rgb(224, 224, 224);
  color: black;
  font-size: 25px;
}

.textToType {
  font-size: 25px;
  margin: 10px;
}

.button {
  padding: 10px;
  border-radius: 3px;
  background-color: white;
  color: black;
  text-decoration: none;
  border: none;
  margin: 10px;
  font-size: 25px;
  transition: all 0.15s ease;
}
.button:hover {
  background-color: rgb(224, 224, 224);
}
